@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src:
    url("../assets/font/Pretendard-Regular.subset.woff2") format("woff2"),
    url("../assets/font/Pretendard-Regular.subset.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src:
    url("../assets/font/Pretendard-Medium.subset.woff2") format("woff2"),
    url("../assets/font/Pretendard-Medium.subset.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src:
    url("../assets/font/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("../assets/font/Pretendard-SemiBold.subset.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src:
    url("../assets/font/Pretendard-Bold.subset.woff2") format("woff2"),
    url("../assets/font/Pretendard-Bold.subset.woff") format("woff");
  font-display: swap;
}

html {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans KR",
    sans-serif;
}
