:root {
  --background: hsl(0 0% 100%);
  --border: #d5d5d5;
  --destructive: hsla(0, 84%, 60%, 1);
  --downstairs: hsl(0, 61%, 54%);
  --foreground: hsl(0, 0%, 0%);
  --foreground-muted: hsla(0, 0%, 20%, 1);
  --gray: hsl(0, 0%, 42%);
  --grid: hsla(0, 0%, 0%, 0.07);
  --muted: hsl(0, 0%, 98%);
  --primary-foreground: hsl(0, 0%, 100%);
  --primary-muted: hsla(91, 51%, 55%, 1);
  --primary-transparent: hsla(82, 56%, 41%, 0.1);
  --secondary: hsl(240, 5%, 96%);
  --secondary-foreground: hsla(0 0% 22%);
  --upstairs: hsl(235, 80%, 60%);
  --bk0: hsla(0, 0%, 100%, 1);
  --bk1: hsla(0, 0%, 99%, 1);
  --bk10: hsla(0, 0%, 10%, 1);
  --bk11: hsla(0, 0%, 0%, 1);
  --bk2: hsla(0, 0%, 98%, 1);
  --bk3: hsla(240, 5%, 96%, 1);
  --bk4: hsla(0, 0%, 87%, 1);
  --bk5: hsla(0, 0%, 80%, 1);
  --bk6: hsla(0, 0%, 64%, 1);
  --bk7: hsla(0, 0%, 46%, 1);
  --bk8: hsla(0, 0%, 29%, 1);
  --bk9: hsla(240, 1%, 19%, 1);
  --gr1: hsla(81, 50%, 95%, 1);
  --gr10: hsla(79, 65%, 21%, 1);
  --gr11: hsla(90, 73%, 14%, 1);
  --gr2: hsla(83, 46%, 83%, 1);
  --gr3: hsla(82, 46%, 72%, 1);
  --gr4: hsla(82, 46%, 62%, 1);
  --gr5: hsla(82, 46%, 51%, 1);
  --gr6: hsla(82, 50%, 46%, 1);
  --gr8: hsla(83, 58%, 36%, 1);
  --gr9: hsla(81, 62%, 29%, 1);
  --gr-primary: hsla(82, 56%, 41%, 1);
  --active: #2d8eff;
  --black: #000000;
  --negative: #ff4949;
  --neutral040: #f5f5f5;
  --neutral080: #eaeaea;
  --neutral160: #d5d5d5;
  --neutral240: #c0c0c0;
  --neutral320: #aaaaaa;
  --neutral400: #959595;
  --neutral480: #808080;
  --neutral560: #6b6b6b;
  --neutral640: #555555;
  --neutral720: #404040;
  --neutral800: #2b2b2b;
  --neutral880: #151515;
  --pantone3435-c: #007a33;
  --pantone377-c: #84bd00;
  --positive: #13ce66;
  --warning: #ffcc3d;
  --white: #ffffff;
  --primary: #007a33;
  --primary000: #f2f8f5;
  --primary080: #cae3d5;
  --primary160: #a2ceb4;
  --primary240: #79b994;
  --primary320: #51a474;
  --primary400: #288f53;
  --primary560: #00672b;
  --primary640: #005323;
  --primary720: #00401b;
  --primary800: #002d13;
  --primary880: #00190b;
  --primary960: #000603;
  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 3.9%);
  --chart1: hsl(12 76% 61%);
  --chart2: hsl(173 58% 39%);
  --chart3: hsl(197 37% 24%);
  --chart4: hsl(43 74% 66%);
  --chart5: hsl(27 87% 67%);
  --destructive-foreground: hsl(0 0% 98%);
  --input: hsl(0 0% 89.8%);
  --muted-foreground: hsl(0 0% 45.1%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);
  --ring: hsl(0 0% 3.9%);
}

@theme inline {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-downstairs: var(--downstairs);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-gray: var(--gray);
  --color-grid: var(--grid);
  --color-muted: var(--muted);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-muted: var(--primary-muted);
  --color-primary-transparent: var(--primary-transparent);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-upstairs: var(--upstairs);
  --color-bk0: var(--bk0);
  --color-bk1: var(--bk1);
  --color-bk10: var(--bk10);
  --color-bk11: var(--bk11);
  --color-bk2: var(--bk2);
  --color-bk3: var(--bk3);
  --color-bk4: var(--bk4);
  --color-bk5: var(--bk5);
  --color-bk6: var(--bk6);
  --color-bk7: var(--bk7);
  --color-bk8: var(--bk8);
  --color-bk9: var(--bk9);
  --color-gr1: var(--gr1);
  --color-gr10: var(--gr10);
  --color-gr11: var(--gr11);
  --color-gr2: var(--gr2);
  --color-gr3: var(--gr3);
  --color-gr4: var(--gr4);
  --color-gr5: var(--gr5);
  --color-gr6: var(--gr6);
  --color-gr8: var(--gr8);
  --color-gr9: var(--gr9);
  --color-gr-primary: var(--gr-primary);
  --color-active: var(--active);
  --color-black: var(--black);
  --color-negative: var(--negative);
  --color-neutral040: var(--neutral040);
  --color-neutral080: var(--neutral080);
  --color-neutral160: var(--neutral160);
  --color-neutral240: var(--neutral240);
  --color-neutral320: var(--neutral320);
  --color-neutral400: var(--neutral400);
  --color-neutral480: var(--neutral480);
  --color-neutral560: var(--neutral560);
  --color-neutral640: var(--neutral640);
  --color-neutral720: var(--neutral720);
  --color-neutral800: var(--neutral800);
  --color-neutral880: var(--neutral880);
  --color-pantone3435-c: var(--pantone3435-c);
  --color-pantone377-c: var(--pantone377-c);
  --color-positive: var(--positive);
  --color-warning: var(--warning);
  --color-white: var(--white);
  --color-primary: var(--primary);
  --color-primary000: var(--primary000);
  --color-primary080: var(--primary080);
  --color-primary160: var(--primary160);
  --color-primary240: var(--primary240);
  --color-primary320: var(--primary320);
  --color-primary400: var(--primary400);
  --color-primary560: var(--primary560);
  --color-primary640: var(--primary640);
  --color-primary720: var(--primary720);
  --color-primary800: var(--primary800);
  --color-primary880: var(--primary880);
  --color-primary960: var(--primary960);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-chart1: var(--chart1);
  --color-chart2: var(--chart2);
  --color-chart3: var(--chart3);
  --color-chart4: var(--chart4);
  --color-chart5: var(--chart5);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-input: var(--input);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-ring: var(--ring);
}
