@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@import "./styles/global.color.css";
@import "./styles/components.css";

:root {
  --radius: 0.6rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border;
  }

  /* 브라우저 기본 outline 제거 */
  *:focus {
    outline: none;
  }

  *:focus-visible {
    outline: none;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* 숫자 입력 스피너 및 기본 포커스 제거 */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    @apply m-0 appearance-none; /* -webkit-appearance: none; margin: 0; */
  }
  input[type="number"] {
    @apply appearance-none; /* -moz-appearance: textfield; */
  }
  input[type="number"]:focus {
    @apply outline-none;
  }
}

@theme {
  --text-2xs: 0.625rem; /* 10px */
  --text-3xl: 2rem; /* 32px */
}

/* Hide print container by default */
.print-only {
  display: none;
}

/* pdf 변환 관련 스타일 */
@media print {
  @page {
    size: A4 portrait;
    margin: 15mm 10mm;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
  }

  body > * {
    display: none !important;
  }

  .print-only {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background: white !important;
  }

  .print-only .pdf-page {
    /* page-break-after: always;
    page-break-inside: avoid;
    break-after: page;
    break-inside: avoid; */
    width: 100% !important;
    max-width: 100% !important;
  }

  /* .print-only .pdf-page:last-of-type {
    page-break-after: auto;
    break-after: auto;
  } */

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .pdf-page-break {
    page-break-before: always;
    break-before: page;
  }

  .pdf-page-break.pdf-gap {
    margin-bottom: 48px;
  }
}
